<form [formGroup]="multiplyForm">
    <ng-container *ngFor="let result of question?.result">
    <div class="form-group">
        <label for="multiplication">{{ question?.multiplication }} =</label>
        <input formControlName="multiplication" type="text" class="form-control" id="multiplication" [value]="" placeholder="Enter the result here">
        <div *ngIf="multiplication.invalid && multiplication.touched" class="alert alert-danger">
            <div *ngIf="multiplication.errors.required">The result is required</div>
        </div>
    </div>
    <button [disabled]="multiplyForm.invalid" class="btn btn-primary" (click)="multiplyS.validate(multiplication._pendingValue, result); router.navigate(['/multiply', multiplyS.multiplicationId + 1])">Suivant</button>
    </ng-container>
</form>
